body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #4caf50);
    color: #fff;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
}

.start-container, .job-container, .game-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#news-section {
    display: none; /* Domyślnie ukryte */
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background: #0056b3;
}

#job-image {
    display: block;
    margin: 0 auto 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.investment-item {
    margin-bottom: 10px;
    .ranking-container {
    position: fixed;
    top: 100px;
    right: 10px;
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.ranking-container h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

#ranking-list {
    list-style: none;
    padding: 0;
}

#ranking-list li {
    margin-bottom: 8px;
    font-size: 14px;
}

